<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Capital Bikeshare</title>
	<!--link href="/static/css/default.css" type="text/css" rel="stylesheet" /-->
	<script language="javascript" src="static/js/jquery-1.2.3.js"></script>
	<script language="javascript" src="static/js/json2.js"></script>

	
</head>
<body>
<h1>{% block title %}{% endblock %}</h1>

<center>
<table width="1000px">
	<tr>
		<td bgcolor="red">
			<br/>
			<font face="Helvetica, Arial" size="48px" color="white"> &nbsp; <b>Capital Bikeshare Survey</b></font>
			<br/>
			<br/>
		</td>
	</tr>
	<tr>
		<td width="800" align="left">
			<h1>Thank you!</h1>		
			
		</td>
		
	</tr>
	<tr>
		<td>
			Learn more about <a href="http://ddot.dc.gov/DC/DDOT/On+Your+Street/Bicycles+and+Pedestrians/Bicycles/Bicycle+Program">DC Bicycle Program</a>
		</td>
	</tr>
</table>
</center>

{% block body %}{% endblock %}

</body>





